<!DOCTYPE html>
<html>
<head>
  <title>TwitterForZombie</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<A HREF="http://localhost:3000/" ><IMG SRC="/assets/railsforzombiestest.png"></A>

<%= yield %>

</body>
</html>
